TZ=Asia/Shanghai
READER_HOST_PORT=18080
READER_LOGS_DIR=./docker/reader/logs
READER_STORAGE_DIR=./docker/reader/storage

READER_APP_USERLIMIT=50
READER_APP_USERBOOKLIMIT=200
READER_APP_CACHECHAPTERCONTENT=true
READER_APP_DEBUGLOG=false
READER_APP_AUTO_CLEAR_INACTIVE_USER_DAYS=0

READER_APP_SECUREKEY=change-me
READER_APP_INVITECODE=change-me

WATCHTOWER_API_VERSION=1.53
WATCHTOWER_SCHEDULE=0 0 4 * * *
